@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Extrnal CSS -->
    <link rel="stylesheet" href="~/css/style.css">

    <title>@ViewData["Title"] -ASP BlogCorner</title>
    <link rel="icon" type="image/png" href="~/Images/logo1.png" />
</head>
<body>

    <button id="myBtn" title="Top">Top</button>
    <!-- Header -->
    <div class="page">
        <div id="logo" class="mt-5 float-left">
            <img src="~/Images/logo2.png" alt="ASP" id="logo1">
            <p class="site-title mt-2 h3 font-weight-bold">
                <a href="./index.html" id="title-logo" target="_blank">ASP BlogCorner</a>
            </p>
            <p class="site-description font-weight-light h5 text-uppercase">Write Your Hear Out!!</p>
        </div>
        <div class="float-left mr-auto" id="listNav">
            <ul class="list-inline">
                <li class="list-inline-item font-weight-bold h5"><a href="/HomePage/Index">Home</a></li>
                <li class="list-inline-item font-weight-bold h5"><a href="/Pages/Blog">Blog</a></li>
                <li class="list-inline-item font-weight-bold h5"><a href="/Pages/WhatsTrending">What's Trending !!</a></li>
                <li class="list-inline-item font-weight-bold h5"><a href="/Pages/Experiences">Experiences</a></li>
                <li class="list-inline-item font-weight-bold h5"><a href="#">About The BlogCorner</a></li>
                <li class="list-inline-item font-weight-bold h5"><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <!-- Footer -->
    @*<footer>
            <div class="page-name">
                <p class="font-weight-light h4 ml-5 float-left">ASP BlogCorner</p>
                <ul class="list-inline float-right ml-3">
                    <li class="list-inline-item h5 font-weight-light"><a href="#">Home</a></li>
                    <li class="list-inline-item h5 font-weight-light"><a href="#">Blog</a></li>
                    <li class="list-inline-item h5 font-weight-light"><a href="#">What's Trending !!</a></li>
                    <li class="list-inline-item h5 font-weight-light"><a href="#">Experiences</a></li>
                    <li class="list-inline-item h5 font-weight-light"><a href="#">About The BlogCorner</a></li>
                    <li class="list-inline-item h5 font-weight-light"><a href="#">Contact</a></li>
                </ul>
            </div>
        </footer>*@


    <footer class="border-top footer text-muted">
        <div class="container">
            <p class="font-weight-light h4 ml-5 float-left">ASP BlogCorner</p>
            <ul class="list-inline float-right ml-3">
                <li class="list-inline-item h5 font-weight-light"><a href="#">Home</a></li>
                <li class="list-inline-item h5 font-weight-light"><a href="#">Blog</a></li>
                <li class="list-inline-item h5 font-weight-light"><a href="#">What's Trending !!</a></li>
                <li class="list-inline-item h5 font-weight-light"><a href="#">Experiences</a></li>
                <li class="list-inline-item h5 font-weight-light"><a href="#">About The BlogCorner</a></li>
                <li class="list-inline-item h5 font-weight-light"><a href="#">Contact</a></li>
            </ul>
        </div>
    </footer>




    <script src="~/js/app.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>