
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Extrnal CSS -->
    <link rel="stylesheet" href="~/css/style.css">

    <title>Index</title>
    <link rel="icon" type="image/png" href="~/Images/logo1.png" />
</head>
<body>
    <button id="myBtn" title="Top">Top</button>
    <!-- Header -->
    <div class="page">
        <div id="logo" class="mt-5 float-left">
            <img src="~/Images/logo2.png" alt="ASP" id="logo1">
            <p class="site-title mt-2 h3 font-weight-bold">
                <a href="./index.html" id="title-logo" target="_blank">ASP BlogCorner</a>
            </p>
            <p class="site-description font-weight-light h5 text-uppercase">Write Your Hear Out!!</p>
        </div>
        <div class="float-left mr-auto" id="listNav">
            <ul class="list-inline">
                <li class="list-inline-item font-weight-bold h5"><a href="/HomePage/Index">Home</a></li>
                <li class="list-inline-item font-weight-bold h5"><a href="/Pages/Blog">Blog</a></li>
                <li class="list-inline-item font-weight-bold h5"><a href="/Pages/WhatsTrending">What's Trending !!</a></li>
                <li class="list-inline-item font-weight-bold h5"><a href="/Pages/Experiences">Experiences</a></li>
                <li class="list-inline-item font-weight-bold h5"><a href="/Pages/Contact">Contact</a></li>
                <li class="list-inline-item font-weight-bold h5" data-toggle="modal" data-target="#exampleModal" id="myLogin"><a href="#">Login</a></li>
            </ul>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="txtId">User Id</label>
                            <input type="email" class="form-control" id="txtId" aria-describedby="emailHelp" placeholder="Enter UserId">
                        </div>
                        <div class="form-group">
                            <label for="txtPwd">Password</label>
                            <input type="password" class="form-control" id="txtPwd" placeholder="Password">
                        </div>
                        <a href="/Admin/Index" class="float-left"><p>Forgot Password</p></a>
                        <a href="/Register/Index" target="_blank" class="float-right">New User(Click here)</a>
                        <br />
                        <br />
                        <div class="text-center">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="lgBtn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        <!-- Cover Image -->
        <div class="cover alignfull has-background-dim mt-2">
            <div class="cover-text">
                <h1>Welcome To The ASP BlogCorner</h1>
                <h3>The place that encourages random conversations and discussions about various experiences and topics</h3>
            </div>
        </div>

        <!-- Content -->
        <div class="content">
            <div class="row">
                <div class="col">
                    <h3 class="font-weight-bold" style="margin-left: 35%; margin-bottom: 5%;">Blog</h3>
                    <img src="~/Images/blog.jpg" alt="Blog">
                    <blockquote class="blockquote">
                        <p class="mb-0 mt-3">
                            Answers your never-ending
                            questions of what to watch and
                            listen and many more interesting lists..
                        </p>
                    </blockquote>
                </div>
                <div class="col">
                    <h3 class="font-weight-bold" style="margin-left: 22%; margin-bottom: 5%;">What's Trending</h3>
                    <img src="~/Images/trending.png" alt="Trending">
                    <blockquote class="blockquote">
                        <p class="mb-0 mt-3">
                            Discussion about random topics
                            which are trending globally. A move
                            to promote conversation..
                        </p>
                    </blockquote>
                </div>
                <div class="col">
                    <h3 class="font-weight-bold" style="margin-left: 22%; margin-bottom: 5%;">Experiences</h3>
                    <img src="~/Images/experiences.jpg" alt="Experiences">
                    <blockquote class="blockquote">
                        <p class="mb-0 mt-3">
                            Fill your life with experiences,
                            not things. Have stories to tell and not
                            stuffs to show.Insights into some of
                            my personal experiences..
                        </p>
                    </blockquote>
                </div>
            </div>

            <!-- Quotes & Message -->
            <div class="row">
                <div class="col" style="background-color: #ffb302;">
                    <blockquote class="blockquote">
                        <p class="h4" id="pquote">
                            Good company, lively conversation, and the endearments of friendship fill the mind
                            with great pleasure..

                            <cite class="blockquote-footer mt-4" style="color: aliceblue;">Edmund Burke</cite>
                        </p>
                    </blockquote>
                </div>
                <div class="col ml-4">
                    <blockquote class="blockquote">
                        <p id="pQM-one">I am open to suggestions.</p>
                        <p id="pQM-two">Let me know any topic you want me to write upon if you believe I will do justice to them. I am also happy to post any of your personal experiences here.</p>
                    </blockquote>
                </div>
            </div>
            <br>
        </div>

        <!-- Alpha Footer -->
        <div id="alpha-footer">
            <div class="alpha-footer-content">
                <div class="row" id="footer-row">
                    <div class="col" id="al-fo-one">
                        <h4>About Us</h4>
                        <blockquote class="blockquote">
                            <p>
                                A novice entering the world of blogging and aiming
                                to continue this passion. To know more about the ASP Blog Center,
                                click below
                                <br>
                                <br>
                                <a href="#" style="color: white;"><u>More About Us</u></a>
                            </p>
                        </blockquote>
                    </div>
                    <div class="col" id="al-fo-two">
                        <h4>Get In Touch</h4>
                        <blockquote class="blockquote">
                            <ul>
                                <li><u><a href="mailto:adityapatel9833@hotmail.com" style="color: aliceblue;">adityapatel9833@hotmail.com</a></u></li>
                            </ul>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    @*<footer>
            <div class="page-name">
                <p class="font-weight-light h4 ml-5 float-left">ASP BlogCorner</p>
                <ul class="list-inline float-right ml-3">
                    <li class="list-inline-item h5 font-weight-light"><a href="#">Home</a></li>
                    <li class="list-inline-item h5 font-weight-light"><a href="#">Blog</a></li>
                    <li class="list-inline-item h5 font-weight-light"><a href="#">What's Trending !!</a></li>
                    <li class="list-inline-item h5 font-weight-light"><a href="#">Experiences</a></li>
                    <li class="list-inline-item h5 font-weight-light"><a href="#">About The BlogCorner</a></li>
                    <li class="list-inline-item h5 font-weight-light"><a href="#">Contact</a></li>
                </ul>
            </div>
        </footer>*@


    <footer class="border-top footer text-muted">
        <div class="container">
            <p class="font-weight-light h4 ml-5 float-left">ASP BlogCorner</p>
            <ul class="list-inline float-right ml-3">
                <li class="list-inline-item h5 font-weight-light"><a href="#">Home</a></li>
                <li class="list-inline-item h5 font-weight-light"><a href="#">Blog</a></li>
                <li class="list-inline-item h5 font-weight-light"><a href="#">What's Trending !!</a></li>
                <li class="list-inline-item h5 font-weight-light"><a href="#">Experiences</a></li>
                <li class="list-inline-item h5 font-weight-light"><a href="#">About The BlogCorner</a></li>
                <li class="list-inline-item h5 font-weight-light"><a href="#">Contact</a></li>
            </ul>
        </div>
    </footer>




    <script src="~/js/app.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>
